@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.968);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply font-sans;
  font-family: 'Inter', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  @apply font-sans;
  font-family: 'Inter', sans-serif;
}

div{
  @apply font-sans;
  font-family: 'Inter', sans-serif;
}

main {
  flex: 1;
  @apply font-sans;
  font-family: 'Inter', sans-serif;
}
